@import 'breakpoints';

.dashboard {
  padding: 20px;

  button {
    border: 0;
    background: transparent;
    padding: 0;

    &:hover {
      cursor: pointer;
    }
  }

  .graphs {
    height: auto;

    @include breakpoint-sm {
      height: 380px;
      margin-right: 70px;
    }

    .bar-chart,
    .line-graph,
    .area-chart {
      height: 300px;

      @include breakpoint-sm {
      height: auto;
      }
    }
  }

  .column {
    background-color: #fff;
    margin: 20px 0 20px 0;
    border-radius: 5px;
    position: relative;

    @include breakpoint-sm {
      margin: 20px;
    }

    &__button {
      font-size: 2rem;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        content: '';
        z-index: 1;
      }

      &:hover,
      &:focus {
        outline: 0;
        &:before {
          border-bottom: 4px solid black;
        }
      }
    }
  }
}

.selected {
  transition: box-shadow 300ms ease;

  &:before {
    content: '';
    display: block;
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 100%;
    transition: 300ms;
    box-shadow: 2px 5px 2px 2px black;
  }
}

    // LOADING
    .loading {
      text-align: center;

      img {
          display: inline-block;
          width: 2rem;
          height: 2rem;
          margin: 1rem;
          vertical-align: middle;
          border-radius: 100%;
      }
  }

  // .recharts-brush-traveller {
  //   display: none;
  // }
